Babel==2.8.0
barectf==3.1.1
bcrypt==3.2.0
CppHeaderParser==2.7.4
lxml==4.9.2
matplotlib==3.7.1
pandas==2.0.2
plotly==5.15.0
ply==3.11
protobuf==3.20.3
pycparser==2.21
pyparsing==3.0.9
websocket-client==1.5.2
websockets==11.0.3
